{% extends 'base.html' %}

{% block content %}

<section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/detail1/big.webp">
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{product.image.url}}" />
            </a>
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
              {{product.name}}
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
                {% if product.is_sale %}
                    <div>
                        <strike>${{product.price}}</strike> <b>${{product.sale_price}}</b>
                    </div>
                {% else %}
                    <div>
                        <b>${{product.price}}</b>
                    </div>
                {% endif %}
            </div>
            <br>
            <br>
  
            <!-- <p>
              {{product.description}}
            </p>
  
            <hr /> -->

            <div class="row">
              <div class="col-md-2">Quantity:</div>
              <div class="col-md-2">
                <select class="form-select" aria-label="Default select example" id="cart-quantity">
                  <!-- <option selected>Open this select menu</option> -->
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>

            <br><br>

            <div>
                <a class="btn btn-secondary" href="{% url 'home' %}">Home</a>
                <button class="btn btn-secondary" tyoe="button"
                id="add-cart" value="{{product.id}}">Add To Cart</button>
            </div>
        </main>
      </div>
    </div>
  </section>

  <script>
    $(document).on('click', "#add-cart", function(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url: "{% url 'cart_add' %}",
        data:{
          product_id: $('#add-cart').val(),
          product_quantity: $('#cart-quantity option:selected').text(),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },

        success: function(json){
          console.log(json)
          document.getElementById('cart_quantity').textContent = json.qty;
        },

        error: function(xhr, errmsg, err) {
        console.error(xhr.status + ": " + xhr.responseText);
      }
      });
    })
  </script>


{% endblock %}